{{extend 'layout.html'}}

{{block header}}

{{end}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>
<p class="lead">{{=T('How did you get here?')}}</p>

<h1>Snippet</h1>
<form enctype="multipart/form-data"
      action="{{=URL()}}" method="post">
<textarea name="title" rows="2" cols="50" maxlength="2500">
ADD TITLE HERE.
</textarea>
<br>
<br>

<textarea name="snippet" rows="4" cols="50" maxlength="2500">
ADD SNIPPET HERE.
</textarea>

<input type="submit" maxlength="200" width="100" height="100" />

</form>

{{=BEAUTIFY(request.vars)}}
{{db.story.insert(title=request.vars.title, snippets=request.vars.snippet )}}


{{for s in stories:}}
{{if s.title is not None:}}
        <div class="memo">
            <h3>Story title:</h3>
            <div class="memo_title">
                {{=s.title}}
            </div>
            <h4>Content:</h4>
            {{=s.snippets}}
            <br>
            <br>
            <br>
        </div>
{{pass}}
{{pass}}

{{if not stories:}}
        <p> Currently no stories. </p>
{{pass}}


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}



